@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 48px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

main {
  display: flex;
}

.resume-window {
  padding: 24px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex: 1 0 60%;
  flex-direction: column;
  /* border: dashed 1px #999; */
}

.resume {
  padding: 2rem;
  width: 600px;
  border: solid 1px #999;
  aspect-ratio: 8.5 / 11;
}

.resume-block {
  margin-bottom: 24px;
}

.resume-sub-block {
  margin-bottom: 24px;
}

.editor-window {
  padding: 24px;
  flex: 1 0 40%;
  /* border: dashed 1px #999; */
}

.editor-section {
  margin-bottom: 1rem;
}

.form-heading {
  font-size: 1.4rem;
  margin-bottom: 1rem;
}

form {
  margin-bottom: 24px;
}

form > input, textarea {
  @apply
    mb-4
    shadow
    appearance-none
    border
    rounded
    w-full
    py-2
    px-3
    text-gray-700
    leading-tight
}

button {
  @apply
  bg-blue-500
  hover:bg-blue-700
  text-white
  font-bold
  py-2 px-4
  rounded
}

textarea {
  height: 100px;
}